.resolver-input {
}

.resolver-input button.button {
	margin-right: 20px;
}

.resolver-input .input input {
}

.resolver-input .did-url-input input {
	margin-right: 20px;
	width: 400px;
}

.resolver-input div.dropdown {
	margin-right: 20px;
	width: 250px;
}

.resolver-input .options-input input {
	width: 60px;
}
