@import 'resolver-input';
@import 'error';
@import 'result/did-result';
@import 'result/did-document';
@import 'result/did-resolution-metadata';
@import 'result/did-document-metadata';

.resolver {
}

.copy {
    display: flex;
    align-items: center;
}

.copy-text {
    margin-left: 5px;
}
.copy-text-hidden {
    display: none;
}
